<div>
  <!-- <table datatable [dtOptions]="dtOptions" class="table table-sm row-border hover" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Module</th>
      </tr>
    </thead>
  </table> -->
  <table datatable [dtOptions]="dtOptions" class="table table-sm row-border hover" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Email</th>
        <th scope="col">Tel</th>
      </tr>
    </thead>
  </table>
</div>